.header-items{
    @include flex-between;
    .header-items__title{
        h2{
            margin: 0;
        }
        p{
            margin: 5px 0;
        }
    }
    .header-items__nav{
        width: 450px;
        .navigation-items{
            @include flex-between;
            li{
                font-weight: 800;
                list-style-type: none;
            }
            li:first-child{
                color: red;
            }
        }
    }
}